.App {
    margin-top: 100px;
    padding: 20px;
    color:white;
    background: rgba(0,0,0,0.6);
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-intro{
    padding: 20px;
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div{
    font-family: Microsoft JhengHei;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}