body {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;

    margin:0;
    padding:0;
    /*background: #000 url('../images/IMG_2014.JPG') center center fixed no-repeat;*/
    background-size: cover;
}
